{% extends 'base.html.twig' %}

{% block title %}L'auteur{% endblock %}

{% block body %}
    <div class="title-container">
        <h1 class="title-line">L'auteur</h1>
    </div>

    <div class="container flex-container">
        <div class="img-author">
            <img loading="lazy" class="author-picture" src="{{ asset('images/authorpicture.jpeg') }}" alt="baptiste"/>
        </div>
        <div class="text-author">
            <p>
                Ut risus nunc, vestibulum non lacus in, convallis luctus tellus. Aliquam nunc diam, euismod sed rhoncus non,
                porttitor eget sem. Nunc id iaculis lacus. Maecenas pellentesque erat odio, et euismod sem convallis non.
                Integer fringilla lacinia enim, dignissim euismod mi condimentum ut. Nulla facilisi. Duis volutpat iaculis
                lectus, nec dapibus ipsum egestas eget. Quisque efficitur ante ut tellus pellentesque pharetra. Phasellus
                leo orci, aliquam sed turpis vitae, lobortis ultrices arcu. Quisque pulvinar nunc a purus molestie bibendum.
            </p>
            <div class="author-btn">
                <a class="btn btn-dark" href="{{ path('app_contact') }}>
                    Me contacter
                </a>
            </div>
        </div>
    </div>


{% endblock %}