{% extends 'base.html.twig' %}

{% block title %}L'auteur{% endblock %}

{% block body %}
    <div class="title-container">
        <h1 class="title-line">L'auteur</h1>
    </div>

    <div class="container flex-container">
        <div class="img-author">
            <img loading="lazy" class="author-picture" src="{{ asset('images/authorpicture.jpeg') }}" alt="baptiste"/>
        </div>
        <div class="text-author">
            <p>
                Futur plus grand écrivain de la planète, personne d’une extrême modestie, venez découvrir mes premières
                œuvres littéraires déjà validées par les plus grands : ma meuf, ma belle-mère et mon père. Un public
                objectif qui a su déceler des grandes qualités dans mes écrits.
            </p>
            <p>
                Vous aimez la science-fiction, la fantasy ou l’humour ? Je vous conseille plutôt Asimov, Tolkien, et
                Fabcaro. Si vous n’avez pas de librairie sympa près de chez vous et que vous préférez soutenir un
                contenu gratuit (pour le moment), n’hésitez pas à lire mes merveilleuses nouvelles.
            </p>
            <div class="author-btn">
                <a class="btn btn-dark" href="{{ path('app_contact') }}">
                    Me contacter
                </a>
            </div>
            <div class="thanks-author">
                <p>PS : Mille mercis à</p>
                <a target="_blank" href="https://www.instagram.com/ninnouerou/">Hélène</a>
                <p>pour avoir mis en dessin mes nouvelles.</p>
            </div>
            <div class="thanks-author">
                <p>Et à</p>
                <a target="_blank" href="https://www.linkedin.com/in/aurorecarriere/">Aurore</a>
                <p>pour avoir développé ce site !</p>
            </div>

        </div>
    </div>


{% endblock %}
