{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="title-container">
        <h1 class="title-line">Mentions légales</h1>
    </div>

    <div class="container legal-container">
        <div class="legal-div">
            <p>
                <strong>Site Internet</strong> : Baptiste Raconte -
            </p>
            <a href="http://www.baptiste-raconte.fr">http://www.baptiste-raconte.fr</a>
        </div>

        <h2 class="yellow-line">
            Raison sociale de l'hébergeur
        </h2>
        <p>
            Ce site est hébergé par HEROKU Inc. – 650 7th Street San Francisco - CA USA
        </p>
        <div class="legal-div">
            <p>
                Pour contacter cet hébergeur, rendez-vous à l’adresse
            </p>
            <a target="_blank" href="https://www.heroku.com/support">https://www.heroku.com/support</a>
        </div>

        <h2 class="yellow-line">
            Directeurs de publication
        </h2>
        <p>
            <strong>Auteur des nouvelles</strong> : Baptiste ALLIONE
        </p>
        <div class="legal-div">
            <p>
                <strong>Webmaster</strong> :
            </p>
            <a target="_blank" href="https://www.linkedin.com/in/aurorecarriere/">Aurore CARRIERE</a>
        </div>

        <h2 class="yellow-line">
            Droits d'auteurs
        </h2>
        <p>
            Toutes les marques, logos, photographies, textes, commentaires, illustrations, images animées ou non,
            séquences
            vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire
            fonctionner ce site et plus généralement tous les éléments reproduits ou utilisés sur le site sont protégés
            par les lois en vigueur au titre de la propriété intellectuelle. Ils sont la propriété pleine et entière de
            l'éditeur ou de ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, sous quelque
            forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans
            l'accord préalable et écrit de l'éditeur, sont strictement interdites. Le fait pour l'éditeur de ne pas
            engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation
            desdites utilisations et renonciation aux poursuites.
        </p>

        <h2 class="yellow-line">
            Liens hypertextes
        </h2>
        <p>
            Ce site contient des liens hypertextes permettant l'accès à des sites qui ne sont pas édités par le
            responsable de ce site.
            En conséquence Baptiste Raconte ne saurait être tenu pour responsable du contenu des sites auxquels
            l'internaute aurait ainsi accès.
            Il est formellement interdit de collecter et d'utiliser les informations disponibles sur le site à des fins
            commerciales.
            Cette interdiction s'étend notamment, sans que cette liste ne soit limitative, à tout élément rédactionnel
            figurant sur le site, à la présentation des écrans, aux logiciels nécessaires à l'exploitation, aux logos,
            images, photos, graphiques, de quelque nature qu'ils soient.
        </p>
        <p>
            À l'exception de sites diffusant des informations et/ou contenus ayant un caractère illégal et/ou à
            caractère politique, religieux, pornographique, xénophobe, vous pouvez créer un lien hypertexte vers notre
            site sur votre site.
            La mise en place de lien hypertexte n'autorise en aucune façon la reproduction d'éléments du site ou la
            présentation sur des sites tiers d'éléments de Baptiste Raconte sous forme de Frame ou système apparenté.
            Enfin, la mise en place de lien hypertexte n'autorise en aucune façon de proposer l'envoi d'un message
            pré-rédigé à une adresse mail liée à Baptiste Raconte ou la mise en place d'un système permettant l'envoi
            massif de messages quelle qu'en soit la nature.
        </p>

        <h2 class="yellow-line">
            Traitement des données personnelles
        </h2>
        <p>
            Les informations que nous sommes amenés à recueillir proviennent de la communication volontaire d'une
            adresse de courrier électronique lors de l'inscription.
            L'inscrit a l'accès total aux informations de son profil (son adresse mail n'est pas publiée sur le site).
            Les informations que vous nous communiquez ne sont jamais confiées à des tiers.
            Votre adresse électronique est enregistrée dans la base de données de Baptiste Raconte.
            Vous pourrez à tout moment vous faire désinscrire du site.
            Vous disposez par ailleurs d'un droit d'accès, de rectification, de modification et de suppression
            concernant les données qui vous concernent.
            Vous pouvez exercer ce droit en nous envoyant un mail.
        </p>

        <h2 class="yellow-line">
            Utilisation de Cookies
        </h2>
        <p>
            Baptiste Raconte vous informe qu’un ou plusieurs cookies (petits fichiers textes) peuvent s’installer
            automatiquement sur le disque dur de votre ordinateur lors de votre visite sur le blog Baptiste Raconte.
            Ces cookies peuvent provenir des partenaires de Baptiste Raconte, mais aussi des système de statistiques de
            Baptiste Raconte ou de tous autres services proposés sur le blog Baptiste Raconte.
            Vous avez la possibilité de supprimer les cookies installés lors de votre visite sur le blog Baptiste Raconte, à l’aide de la barre d’outils de votre navigateur. La suppression des cookies devra intervenir une fois
            votre navigation sur le blog Baptiste Raconte terminée. A défaut, vous êtes informé du fait que l’usage du
            blog Baptiste Raconte, ainsi que les services qui y sont proposés, pourront être perturbés, voire empêchés.
        </p>

        <h2 class="yellow-line">
            Crédits
        </h2>
        <div class="legal-div">
            <p>
                <strong>Dessinatrice</strong> :
            </p>
            <a target="_blank" href="https://www.instagram.com/ninnouerou/">Hélène aka Ninnoue</a>
        </div>
    </div>

{% endblock %}
