{% extends 'base.html.twig' %}

{% block title %}Nouvelles{% endblock %}

{% block body %}
    <section id="stories-title">
        <div class="container">
            <h1>Nouvelles</h1>
        </div>
    </section>

    <section id="stories-list">
        <div class="container">
            <h2 class="h1 title-line home-h2">Les Aventures de Guillaume</h2>
            <div class="row">
                {% for story in stories %}
                    <a class="col-lg-4 col-last-news" href="{{ path('app_story_show', {slug: story.slug}) }}">
                        <div class="text-center">
                            <img loading="lazy" class="rounded-circle img-last-news" src="/images/upload/{{ story.image }}" alt="Illustration"/>
                        </div>
                        <h3 class="h2 yellow-line">{{ story.title }}</h3>
                        <p class="summary">{{ story.summary }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
