{% extends 'base.html.twig' %}

{% block title %}{{ story.title }}{% endblock %}

{% block body %}
    <section id="story-header">
        <div class="container">
            <div class="flex-container-reverse">
                <h1>{{ story.title }}</h1>
                <img loading="lazy" class="story-img" src="{{ asset('images/story2.png') }}" alt="illustration"/>
            </div>
            <div class="favorite">
                <p class="favorite-text"><i class="fa-solid fa-heart"></i> Mettre en favoris</p>
            </div>
        </div>
    </section>

    <section id="story-text">
        <div class="container">
            <p class="story-p">{{ story.text }}</p>
        </div>
    </section>
{% endblock %}