/************** imports **************/
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400&family=Pinyon+Script&family=Signika+Negative:wght@300;400;500;600&display=swap');

/************** variables **************/
$dark-gray: #353344;
$light-gray: #7E7D88;
$white: #FFFFFF;
$blue: #20078A;
$dark-yellow: #FFC80A;
$light-yellow: #FFE381;

/************** base styles **************/
#navbar-logo {
  width: 70px;
  height: 70px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

body {
  background-color: $light-gray;
}

//Lines before and after titles
.title-line:before, .title-line:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: .1rem;
  background: $dark-gray
}

.title-line:before {
  margin-right: .5rem;
}

.title-line:after {
  margin-left: .5rem;
}

//Yellow line behind h2
.yellow-line {
  background-image: url(/public/images/yellowline.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top 20px left 5px;
  padding: 20px 0 0 20px;
}

/************** fonts **************/
h1 {
  font-family: 'Pinyon Script', serif;
  color: $dark-gray;
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Assistant', sans-serif;
  color: $white;
  font-weight: 200;
  font-size: 1.6em;
}

.h2-gray {
  color: $dark-gray;
}

p, a, label, li {
  font-family: 'Signika Negative', sans serif;
  font-weight: 400;
  font-size: 1em;
  color: $white;
}

/************** mobile styles **************/
/**** NAVBAR ****/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,200,10)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background-color: $dark-gray;
  padding: 0;
}

.navbar-brand {
  padding: 0;
}
.nav-link {
  color: $light-yellow;

  &:hover {
    color: $dark-yellow;
  }
}

.active {
  color: $dark-yellow;
}

/**** FOOTER ****/
footer {
  text-align: center;
  background-color: $dark-gray;

  i {
    color: $dark-yellow;
    margin: 0 15px;
  }

  .legal-notices {
    color: $light-gray;
    font-size: 1em;
    font-style: italic;
    font-weight: 200;
  }

  .footer-link {
    margin-top: 5px;
  }

  p {
    color: $dark-yellow;
    margin-bottom: 10px;
  }
}

/**** HOME ****/
#welcome {
  background-image: url(/public/images/welcomepicture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 30px;
  text-align: center;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));

  p {
    margin: 0;
  }

  h1 {
    color: $dark-yellow;
    font-size: 3em;
    padding: 20px 5px;
  }
}

#goals {
  padding: 5%;
}

.home-h2 {
  text-align: center;
}

.goals-ul {
  list-style-image: url(/public/images/yellowdot.png);
}

.goals-li {
  margin-top: 15px;
}

#quotation {
  background: $white;
  padding: 7% 4%;
}

.quotation-container {
  background-color: $blue;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
  border-radius: 70px;
}

.marks {
  margin: 5%;
  height: 30px;
}

.quote {
  padding: 15% 15% 0 0;
  font-size: 1.2em;
  margin-bottom: 0;
}

.author-quote {
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0;
}

.quotation-flex-1 {
  display: flex;
}

.quotation-flex-2 {
  display: flex;
  flex-direction: row-reverse;
}

#last-news {
  padding: 7%;
  width: 100%;
}

.col-last-news {
  padding: 5% 0;
}

.img-last-news {
  margin: auto;
  height: 180px;
  width: 180px;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

.div-last-news:hover .img-last-news {
  transform: scale(1.15);
}

.summary {
  padding-left: 5%;
}

/**** STORIES ****/
#stories-title {
  background-image: url(/public/images/storiespicture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 30px;
  text-align: center;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));

  h1 {
    color: $white;
    font-size: 3em;
    padding: 20px 5px;
  }
}

#stories-list {
  padding: 5%;
}

/**** STORY SHOW ****/
#story-header {
  background-color: $blue;
  padding: 50px 30px 10px;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));

  h1 {
    color: $white;
    padding-bottom: 50px;
    text-align: center;
  }
}

.story-img {
  width: 100%;
  max-width: 500px;
  padding-bottom: 50px;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

.favorite {
  text-align: right;
}

.favorite-text {
  color: $dark-yellow;

  &:hover {
    color: $light-gray;
  }
}

#story-text {
  padding: 50px 30px;
}

.story-p {
  color: $dark-gray;
  line-height: 2.5em;
}

.btn-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px;
  bottom: 130px;
  cursor: pointer;
}

.icon-up, .icon-light {
  color: $yellow;
}

.btn-hidden {
  visibility: hidden;
}

.btn-show {
  visibility: visible;
}

.btn-light-night{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px;
  bottom: 170px;
  cursor: pointer;
}

.icon-night {
  color: $light-gray;
}

.icon-night:hover {
  color: $dark-gray;
}

.icon-light:hover {
  color: $light-yellow;
}

.light-bg {
  background-color: $white;
}

.night-bg {
  background-color: $dark-gray;
}

.night-p {
  color: $white;
}

.btn-light {
  background-color: $dark-gray;
}

.btn-light:hover {
  background-color: $dark-gray;
}

/**** FORM ****/
.title-container {
  padding: 7% 0;
  text-align: center;
  background-color: $white;
}

.form-container {
  padding: 10% 15%;
}

.form-logo {
  text-align: center;
  padding-bottom: 40px;

  img {
    height: 150px;
    filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
  }
}

form label {
  padding-top: 25px;
  padding-bottom: 10px;
}

.form-btn, .author-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-forgotten-password {
  padding-left: 10px;
  color: $white;
  font-style: italic;
  font-weight: 300;

  &:hover {
    color: $dark-yellow;
  }
}

/**** PROFIL ****/
.white-background {
  background-color: $white;
}

#infos {
  background-color: $light-gray;
  padding: 2% 5%;
}

.info-div .form-group label {
  color: $light-yellow;
}

#favorites {
  padding: 2% 5%;

  h2 {
    padding-bottom: 2%;
  }
}

.favorites-empty {
  text-align: center;
}

.fav-empty {
  color: $dark-gray;
  padding: 5% 2%;
}

.gif-sad {
  max-width: 500px;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

.img-fav-full {
  width: 200px;
  height: 200px;
  margin-bottom: 3%;
  margin-top: 3%;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

.fav-full-p {
  text-align: center;
  color: $light-gray;
  margin-bottom: 0;
}

/**** AUTHOR ****/
.img-author {
  height: 200px;
  text-align: center;
  margin: 40px 0;
}

.author-picture {
  border-radius: 30px;
  height: 100%;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

.text-author {
  margin: auto;
  padding: 0 40px;
}

/**** LEGAL NOTICES ****/
.legal-container {
  padding: 20px 30px;

  a {
    text-decoration: underline;
    color: $dark-yellow;
    padding-left: 5px;
  }

  .legal-div {
    display: flex;
  }
}

/**** ERRORS ****/
.error404 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mountain {
  width: 100%;
  margin-bottom: 20px;
}


/************** large tablets & laptop styles **************/
@media screen and (min-width: 768px) {
  /************** base styles **************/
  //Lines before and after titles
  .title-line:before, .title-line:after {
    width: 3rem;
  }

  /************** fonts **************/
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.8em;
  }
  p, a, label, li {
    font-size: 1.3em;
  }

  /**** NAVBAR ****/
  .nav-link {
    font-size: 1.1em;
  }

  /**** FOOTER ****/
  .footer-text {
    float: left;
  }
  .footer-icons {
    float: right;
  }
  footer {
    p {
    font-size: 1.1em;
    margin: 0;
    }
    .footer-link{
    margin: 0;
    }
    .legal-notices {
      font-size: 0.8em;
    }
  }

  /**** HOME ****/
  #welcome, #stories-title {
    padding: 80px 40px;

    h1 {
      font-size: 3.8em;
      padding: 30px 10px;
    }
  }
  .home-h2 {
    text-align: left;
  }
  .marks {
    margin: 2%;
  }
  .quote {
    padding: 6% 8% 0 0;
    font-size: 1.4em;
  }
  .author-quote {
    font-size: 1.8em;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #last-news, #goals, #stories-list {
    padding: 40px 40px;
  }
  .col-last-news {
    padding: 2% 3%;
  }
  .a-last-news {
    font-size: 1em;
  }
  .img-last-news {
    margin: auto;
    height: 180px;
    width: 180px;
    filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
  }
  .summary {
    padding-right: 5%;
    font-size: 1.3em;
  }

  /**** STORY SHOW ****/
  #story-header h1 {
    margin: auto;
    padding-left: 20px;
  }
  .story-img {
    margin: auto;
  }
  #story-text {
    padding: 50px 90px;
  }
  .btn-up {
    right: 20px;
    bottom: 100px;
  }
  .btn-light-night {
    right: 20px;
    bottom: 140px;
  }

  /**** FORM ****/
  .title-container {
    padding: 4% 8%;
    text-align: left;
  }
  .form-container {
    min-width: 700px;
    padding: 0;
    margin: auto;
  }
  .flex-container-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .form-logo {
    padding: 0;
    margin: auto;

    img {
      height: 200px;
      padding-right: 20px;
      filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
    }
  }

  /**** AUTHOR ****/
  .img-author {
    margin: auto;
  }
  .text-author {
    margin-top: 40px;
    padding: 0 0 0 40px;
  }

  /**** PROFIL ****/
  #infos, #favorites {
    padding: 2% 5%;
  }
  .info-div p {
    padding: 2% 0 0 4%;
  }
  .fav-empty {
    padding: 2% 2%;
    margin: 0;
  }
  .fav-full-p {
    font-size: 0.9em;
  }
  .img-fav-full {
    width: 120px;
    height: 120px;
  }

  /**** LEGAL NOTICES ****/
  .legal-container {
    padding: 40px 30px;

    a, p {
      font-size: 1.1em;
    }
  }
}


@media screen and (min-width: 1200px) {
  /**** HOME ****/
  #welcome, #stories-title {
    padding: 150px 40px;

    h1 {
      font-size: 4.2em;
      padding: 40px 10px;
    }
  }
  #quotation, #goals, #stories-list {
    padding: 2% 5%;
  }
  .quote {
    padding: 5.5% 0 0 0;
  }
  .author-quote {
    padding-top: 0;
    padding-bottom: 2%;
  }

  /**** FORM ****/
  .form-logo img {
    height: 250px;
  }

  .btn-forgotten-password {
    font-size: 1em;
  }

    /**** AUTHOR ****/
  .img-author {
    height: 400px;
    padding-top: 50px;
  }
  .text-author {
    padding: 40px 30px 0 50px;
  }

  /**** PROFIL ****/
  .img-fav-full {
    width: 140px;
    height: 140px;
  }
}