<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bonjour {{ user.firstname }} {{ user.lastname }}</h1>
        <p>Voici le lien pour réinitialiser votre mot de passe : </p>
        <a href="{{ url|raw }}">{{ url|raw }}</a>
        <p>Ne pas répondre à cet email, votre message ne sera pas lu</p>
    </body>
</html>
