{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="title-container">
        <h1 class="title-line">Mon profil</h1>
    </div>

    <div class="container info-container">
        <h2>Mes informations</h2>
        <div class="info-div">
            <p>Nom : {{ app.user.lastname }}</p>
            <p>Prénom : {{ app.user.firstname }}</p>
            <p>Adresse-email : {{ app.user.email }}</p>
        </div>
    </div>
    <div class="white-background">
        <div class="container info-container">
            <h2 class="h2-gray">Mes favoris</h2>
        </div>

    </div>

{% endblock %}
